@model dynamic

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>A-Mud</title>
	</head>
	<body>
		<div>
			<h1>A-Mud</h1>
			<p>
				A simple web-based MUD server.
			</p>
		</div>
	</body>
</html>